In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('data.csv')

In [4]:
df1=df.replace(0,np.nan).dropna(axis=0).reset_index(drop=True)
df1

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3.0,53,1.0,1.0,1.0,1,US,4.0,2.0,5.0,...,4.0,1.0,3.0,1.0,5.0,1.0,4.0,2.0,5.0,5.0
1,13.0,46,1.0,2.0,1.0,1,US,2.0,2.0,3.0,...,3.0,3.0,3.0,3.0,2.0,3.0,3.0,1.0,3.0,2.0
2,1.0,14,2.0,2.0,1.0,1,PK,5.0,1.0,1.0,...,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,5.0,5.0
3,3.0,19,2.0,2.0,1.0,1,RO,2.0,5.0,2.0,...,4.0,3.0,5.0,2.0,4.0,2.0,5.0,2.0,5.0,5.0
4,11.0,25,2.0,2.0,1.0,2,US,3.0,1.0,3.0,...,3.0,1.0,1.0,1.0,3.0,1.0,3.0,1.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,11.0,15,1.0,2.0,1.0,2,SG,1.0,4.0,3.0,...,1.0,3.0,5.0,3.0,4.0,1.0,4.0,2.0,5.0,3.0
19371,3.0,37,1.0,2.0,1.0,2,US,2.0,3.0,2.0,...,1.0,2.0,3.0,2.0,3.0,3.0,4.0,2.0,3.0,3.0
19372,5.0,16,2.0,1.0,1.0,2,US,2.0,5.0,4.0,...,5.0,3.0,1.0,3.0,4.0,1.0,1.0,5.0,5.0,5.0
19373,12.0,16,1.0,1.0,1.0,5,NG,1.0,4.0,2.0,...,3.0,2.0,5.0,3.0,4.0,1.0,5.0,3.0,5.0,5.0
19374,3.0,35,1.0,1.0,1.0,1,US,2.0,3.0,1.0,...,5.0,1.0,5.0,1.0,4.0,1.0,5.0,5.0,5.0,5.0

In [5]:
#df2=df1.loc[df1['country'] == 'US']
#df2

In [6]:
df1['country'].value_counts()

US    8582
GB    1495
IN    1452
AU     953
CA     904
      ...
FO       1
KY       1
BT       1
GU       1
KG       1
Name: country, Length: 157, dtype: int64

In [7]:
traits = ['O','C','E','A','N']

for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1[traits]

          O     C     E     A     N
0      31.0  31.0  32.0  32.0  19.0
1      26.0  28.0  28.0  31.0  29.0
2      41.0  33.0  29.0  38.0  46.0
3      37.0  34.0  36.0  37.0  43.0
4      22.0  26.0  26.0  40.0  32.0
...     ...   ...   ...   ...   ...
19370  31.0  34.0  29.0  34.0  41.0
19371  26.0  30.0  29.0  28.0  25.0
19372  33.0  37.0  35.0  34.0  42.0
19373  36.0  35.0  29.0  32.0  38.0
19374  37.0  40.0  28.0  33.0  33.0

[19375 rows x 5 columns]

In [8]:
frames = ['O','C','E','A','N']

for frame in frames:
    frame_cols = sorted([col for col in df.columns if frame in col])
    df[frame] = df[frame_cols].mean(axis=1)
df[frames]

         O    C    E    A    N
0      3.1  3.1  3.2  3.2  1.9
1      2.6  2.8  2.8  3.1  2.9
2      4.1  3.3  2.9  3.8  4.6
3      3.7  3.4  3.6  3.7  4.3
4      2.2  2.6  2.6  4.0  3.2
...    ...  ...  ...  ...  ...
19714  3.1  3.4  2.9  3.4  4.1
19715  2.6  3.0  2.9  2.8  2.5
19716  3.3  3.7  3.5  3.4  4.2
19717  3.6  3.5  2.9  3.2  3.8
19718  3.7  4.0  2.8  3.3  3.3

[19719 rows x 5 columns]

In [9]:
traits = ['O']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['O_trait']=df1[traits]
df1['O_cat']=df1['O_trait'] > 25


traits = ['C']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['C_trait']=df1[traits]
df1['C_cat']=df1['C_trait'] > 25

traits = ['E']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['E_trait']=df1[traits]
df1['E_cat']=df1['E_trait'] > 25

traits = ['A']
for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['A_trait']=df1[traits]
df1['A_cat']=df1['A_trait'] > 25

traits = ['N']

for trait in traits:
    trait_cols = sorted([col for col in df.columns if trait in col])
    df1[trait] = df1[trait_cols].sum(axis=1)
df1['N_trait']=df1[traits]
df1['N_cat']=df1['N_trait'] >= 25

In [10]:
df2 = df1.drop(['O_trait','C_trait','E_trait','A_trait','N_trait'],axis = 1)

In [11]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [12]:
df2['country_cat'] = labelencoder.fit_transform(df1['country'])
df2

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,C,E,A,N,O_cat,C_cat,E_cat,A_cat,N_cat,country_cat
0,3.0,53,1.0,1.0,1.0,1,US,4.0,2.0,5.0,...,62.0,64.0,64.0,38.0,True,True,True,True,True,147
1,13.0,46,1.0,2.0,1.0,1,US,2.0,2.0,3.0,...,56.0,56.0,62.0,58.0,True,True,True,True,True,147
2,1.0,14,2.0,2.0,1.0,1,PK,5.0,1.0,1.0,...,66.0,58.0,76.0,92.0,True,True,True,True,True,118
3,3.0,19,2.0,2.0,1.0,1,RO,2.0,5.0,2.0,...,68.0,72.0,74.0,86.0,True,True,True,True,True,125
4,11.0,25,2.0,2.0,1.0,2,US,3.0,1.0,3.0,...,52.0,52.0,80.0,64.0,True,True,True,True,True,147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,11.0,15,1.0,2.0,1.0,2,SG,1.0,4.0,3.0,...,68.0,58.0,68.0,82.0,True,True,True,True,True,132
19371,3.0,37,1.0,2.0,1.0,2,US,2.0,3.0,2.0,...,60.0,58.0,56.0,50.0,True,True,True,True,True,147
19372,5.0,16,2.0,1.0,1.0,2,US,2.0,5.0,4.0,...,74.0,70.0,68.0,84.0,True,True,True,True,True,147
19373,12.0,16,1.0,1.0,1.0,5,NG,1.0,4.0,2.0,...,70.0,58.0,64.0,76.0,True,True,True,True,True,107
19374,3.0,35,1.0,1.0,1.0,1,US,2.0,3.0,1.0,...,80.0,56.0,66.0,66.0,True,True,True,True,True,147

In [14]:
import scipy
# using binary relevance
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())

X_train = df2.iloc[:,0:20]  
y_train = df2.iloc[:,-1]  
# train
classifier.fit(X_train, y_train)

# predict
predictions = classifier.predict(X_test)

TypeError: no supported conversion for types: (dtype('O'),)

In [12]:
'''X = df2.iloc[:,67].values
y = df2.iloc[:,57:62].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2, random_state= 0)
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))'''

ValueError: Expected 2D array, got 1D array instead:
array=[147. 147. 132. ... 147. 109.  38.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
'''import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)
 
acc = accuracy_score(y_test, lr.predict(X_test))
print('Test Accuracy {}'.format(acc))
 
cm = confusion_matrix(y_test, lr.predict(X_test))
sns.heatmap(cm, fmt='d', cmap='GnBu', cbar=False, annot=True)'''

In [ ]:
'''#feature importance
X = df2.iloc[:,0:20]  
y = df2.iloc[:,-1]    #target column i.e price range
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X,y)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(10).plot(kind='barh')
plt.show()'''

In [ ]:
'''def sigmoid(scores):
   
    scores = np.negative(scores)
    exp = np.exp(scores)
    scores = 1 / (1 + exp)
    return scores
sigmoid(4)'''

In [ ]:
'''import tensorflow
from keras.models import Sequential
from keras.layers import Dense
model = keras.models.Sequential()

model.add(Conv2D(32, kernel_size=5, strides=2, activation='relu', input_shape=(268, 182, 3)))
model.add(Conv2D(64, kernel_size=3, strides=1, activation='relu'))       

model.add(Dense(128, activation='relu'))
model.add(Dense(8, activation='sigmoid'))   # Final Layer using Softmax

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
'''